admin/
java/population_app/target
resources/
temp/
published_content/
private_content/
.commitmessage
.vscode/

**/node_modules/
**/package-lock.json
*.tmp
*.bak
*.swp
*.env
!client/.env

.DS_Store

coverage/
junit.xml
**/log.csv
