admin/
java/population_app/target
resources/
temp/
published_content/
private_content/
.commitmessage
.vscode/
.env

**/node_modules/
**/package-lock.json
.env
*.tmp
*.bak
*.swp
*.env

.DS_Store

coverage/
junit.xml
**/log.csv