html {
  height: 100%;
}

.home {
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.motto {
  font-size:5rem;
  font-weight:1000;
}
.guideList {
  height: 100%;
}

.guideList ul {
  padding: 0;
}

.guideList li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  border:1px solid black;
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
  border-radius: 0.8rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight:700;
}

.guideList a:visited {color: black}

.guide1 {
  background: #daf0ff;
}

.guide2 {
  background: #b5e2ff;
}
.guide3 {
  background: #8fd3fe;
}
.guide4 {
  background: #6ac5fe;
}
.guide5 {
  background: #45b6fe;
}