.row {
  display: flex;
  justify-content: space-between;
}

.row>div {
  text-align: center;
  padding: 1.25rem;
  width: 33%;
}

.row:first-child>div{
  font-weight: bold;
}

.row:nth-child(even){
  background-color: #dddfff;
}

.leaderboard {
  border: 1px solid #464646;
  margin: 0 auto;
  width: 75%;
}