.letter-box {
  border: 0.2rem solid black;
  margin: 0.2rem;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
}

.right {
  background-color: green;
}

.half-right {
  background-color: yellow;
}

.wrong {
  background-color: red;
}